{{ partial "header.html" . }} {{ partial "blog-banner.html" . }}
<section class="section">
    <div class="container">
        <h1 class="title is-2"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a> </h1>
        <h2 class="subtitle is-4">Created in {{ .Date.Format "Jan 2, 2006" }}
          {{ if and (not .Lastmod.IsZero) (ne .Date .Lastmod) }}
           - Last update on {{ .Lastmod.Format "Jan 2, 2006" }}
          {{ end }}
        </h2>
        {{ partial "details.html" . }}
        <div class="content is-medium">
            {{ .Content }}
            <h2>Comentários</h2>
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>

</section>
{{ partial "blog-footer.html" . }} {{ partial "footer.html" . }}
