#list {
    list-style: none;
}

#list > li {
    vertical-align: top;
    margin-bottom: .5em;
    display: table;
    width: 100%;
    padding: 0 0;
}
#list > li > a {
    display: table-cell;
    padding: 0 .5em;
}
#list > li > .meta {
    display: table-cell;
    text-align: right;
    width: 25%;
    /*float:right;*/
}


h3, h4, h5, h6 {
    text-shadow: 1px 1px 0px #FFF;
}
h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
    font-family: 'Fjalla One',serif;
    text-transform: capitalize;
    font-weight: 400!important;
}

body {
    font-weight: 200;
    font-family: 'Open Sans',sans-serif;
        font-size: 1.1875em;
    line-height: 1.89474em;
}