<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong>{{ .Site.Params.blog_title }}</strong> by <a href="{{ .Site.BaseURL }}">{{ .Site.Params.blog_author }}</a>.
			</p>
			<p>
				<a target="_blank" class="icon" href="https://github.com/{{ .Site.Params.github_user }}">
					<i class="fa fa-github"></i>
				</a>
				<a target="_blank" class="icon" href="https://instagram.com/{{ .Site.Params.instagram_user }}">
					<i class="fa fa-instagram"></i>
				</a>
				<a target="_blank" class="icon" href="https://twitter.com/{{ .Site.Params.twitter_user }}">
					<i class="fa fa-twitter"></i>
				</a>
			</p>
		</div>
	</div>
</footer>