<!DOCTYPE html>
<html>

<head>

	{{ partial "meta.html" . }}

	<title>{{ .Site.Params.blog_title }}</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css"> -->

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
	<link href='//fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300|Lobster' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/bulma-framework.css">
	<link rel="stylesheet" href="/css/site.css">


	{{ if .RSSLink }}
	  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}

	<link rel="icon " type="image/png " href="images/favicon.png ">
</head>

<body class="page-layout ">
