	{{ $currentNode := . }}
<nav class="nav has-shadow">
	<div class="container">
		<div class="nav-left">
			<a href="/" class="nav-item is-tab {{ if eq $currentNode.URL "/" }}is-active{{end}}">Home</a>
			<a href="/blog" class="nav-item is-tab {{ if hasPrefix $currentNode.URL "/blog" }}is-active{{end}}">Blog</a>
			<a href="https://speakerdeck.com/sebastianwebber" target="_blank" class="nav-item is-tab">Palestras</a>
			<a href="https://www.youtube.com/channel/UCUDrutZQt_e4o5i5PC5h2HQ" target="_blank" class="nav-item is-tab">PGCasts</a>
			<a href="/contato" class="nav-item is-tab {{ if hasPrefix $currentNode.URL "/contato" }}is-active{{end}}">Entre em contato</a>
		</div>
	</div>
</nav>
