	{{ $currentNode := . }}
<nav class="nav has-shadow">
	<div class="container">
		<div class="nav-left">
			{{ range .Site.Menus.main }}
			<a href="{{ .URL }}" class="nav-item is-tab {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}is-active {{end}}">{{ .Name }}</a>
			{{ end }}
			<!--<a href="/blog" class="nav-item is-tab">Blog do Seba</a>
			<a href="/presentations" class="nav-item is-tab">Palestras</a>
			<a href="/contact" class="nav-item is-tab">Contato</a>-->
		</div>
	</div>
</nav>