 {{ $currentNode := . }}

<div class="hero-head">
    <nav class="navbar has-shadow animated bounceInDown">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
       			<a href="/" class="navbar-item {{ if eq $currentNode.URL "/" }}is-active{{end}}">Home</a>
       		 	<a href="/blog" class="navbar-item {{ if hasPrefix $currentNode.URL "/blog" }}is-active{{end}}">Blog</a>
       		 	<a href="https://speakerdeck.com/sebastianwebber" target="_blank" class="navbar-item">Palestras</a>
       		 	<a href="/contato" class="navbar-item {{ if hasPrefix $currentNode.URL "/contato" }}is-active{{end}}">Fale Comigo!</a>
          </div>
        </div>
				<div class="navbar-end">
        <span class="navbar-item">
        Veja também:
      </span>
        <a href="https://www.youtube.com/c/PostgreSQLScreencasts" target="_blank" class="navbar-item external-link">PGCasts</a>
        <a href="https://pgconfig.org" target="_blank" class="navbar-item external-link">PGConfig.org</a>

				</div>
      </div>
    </nav>
  </div>