{{ partial "header.html" . }} {{ partial "blog-banner.html" . }}
<section class="section">
	<div class="container">
		<div class="content is-medium">

			{{ range .Data.Pages.GroupByDate "2006" }}
			<h1 class="title">{{ .Key }}</h2>
				<ul id="list">
					{{ range .Pages }}
					<li>
						<a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
						<div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
					</li>
					{{ end }}
				</ul>
				{{ end }}
		</div>
	</div>
</section>
{{ partial "blog-footer.html" . }} {{ partial "footer.html" . }}