{{ partial "header.html" . }}

<body class="page-layout ">
    <section class="hero is-info is-bold">
        {{ partial "top-menu.html" . }}
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Contato
                </h1>
                <h2 class="subtitle">
                    Entre em contato comigo
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content is-medium">
                {{ .Content }}
            </div>
        </div>
    </section>
    {{ partial "blog-footer.html" . }} {{ partial "footer.html" . }}
